{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="box col-md-12 row">
    <h1 class="text-center">Склад</h1>
    <div class="row col-md-8">
        {% for fruit in object_list %}
        <div class="col-md-5 border" style="margin:1%; padding:1%">
            <ul>
                <li>Название: {{ fruit.name }}</li>
                <li>Кол-во: <span id="fruit-{{fruit.id}}">{{ fruit.count }}</span></li>
                <li>Цена закупки: {{ fruit.price_buy }}</li>
                <li>Цена реализации: {{ fruit.price_sell }}</li>
            </ul>
            <input id="fruit-count-{{fruit.id}}" type="text" class="form-control">
            <div class="col-md-12 text-center" style="margin-top:2%">
                <button onclick="buySellFruit({{fruit.id}}, 'buy')" class="btn btn-outline-secondary">Купить</button>
                <button onclick="buySellFruit({{fruit.id}}, 'sell')" class="btn btn-outline-secondary">Продать</button>
            </div>
        </div>
        {% empty %}
        <p>
            Нет фруктов
        </p>
        {% endfor %}
        <div class="col-md-5 border text-center" style="margin:1%; padding:1%">
            <h1 >Кошелек</h1>
            <label>Денег на счету:</label> <span id="wallet">{{ wallet.money }}</span> usd
            <input id="money-sum" type="text" class="form-control">
            <div class="col-md-12 text-center" style="margin-top:2%">
                <button onclick="addMinusMoney('add')" class="btn btn-outline-secondary">Добавить</button>
                <button onclick="addMinusMoney('minus')" class="btn btn-outline-secondary">Снять</button>
            </div>

        </div>
        <div class="col-md-5 border" style="margin:1%; padding:1%">
            <textarea class="form-control" style="height:100%; resize:none" readonly></textarea>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary">Начать проверку склада</button>
        </div>
    </div>
    <div class="col-md-4">
        <textarea id="task-log" class="form-control" style="height:100%; resize:none" readonly></textarea>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6 border text-center" style="margin:1%; padding:1%">
        <textarea id="chat-log" cols="20" rows="10" class="form-control" style="resize:none" readonly></textarea>
        <input id="chat-message-input" type="text" size="100" class="form-control">
        <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary">
    </div>
</div>
<script>
    <!--    Работа чата -->

    var roomName = {{ room_name_json }}
    var chatSocket = new WebSocket('ws://' + window.location.host +'/ws/chat/'+ roomName + '/');
    var logSocket = new WebSocket('ws://' + window.location.host +'/ws/log/'+ roomName + '/');
    var walletSocket = new WebSocket('ws://' + window.location.host +'/ws/wallet/'+ roomName + '/');

   chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message+'\n');
    };

   logSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var log = data['log'];

        document.querySelector('#task-log').value += (log+'\n');
    };

    walletSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var wallet_money = data['wallet_money'];

        document.getElementById('wallet').textContent = wallet_money;
    };


    chatSocket.onclose = function(e) {
        console.error('Чат - сокет закрыт');
    };

    logSocket.onclose = function(e) {
        console.error('Лог - сокет закрыт');
    };

    walletSocket.onclose = function(e) {
        console.error('Кошелек - сокет закрыт');
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

    function buySellFruit(fruit_id, event) {
        var countInputDom = document.querySelector('#fruit-count-'+fruit_id);
        var count = countInputDom.value;
        logSocket.send(JSON.stringify({
            'count': count,
            'fruit_id': fruit_id,
            'event': event,
        }));

        countInputDom.value = '';
    };

    function addMinusMoney(event) {
        var money_sumInputDom = document.querySelector('#money-sum');
        var money_sum = money_sumInputDom.value;
        walletSocket.send(JSON.stringify({
            'money_sum': money_sum,
            'event': event,
        }));

        money_sumInputDom.value = '';
    };


</script>
{% endblock %}