{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="box col-md-12 row">
    <h1 class="text-center">Склад</h1>
    <div class="row col-md-8">
        {% for fruit in object_list %}
        <div class="col-md-5 border" style="margin:1%; padding:1%">
            <ul>
                <li>Название: {{ fruit.name }}</li>
                <li>Кол-во: <span id="fruit-{{fruit.id}}">0</span></li>
                <li>Цена закупки: {{ fruit.price_buy }}</li>
                <li>Цена реализации: {{ fruit.price_sell }}</li>
            </ul>
            <input type="text" class="form-control">
            <div class="col-md-12 text-center" style="margin-top:2%">
                <button class="btn btn-outline-secondary">Купить</button>
                <button class="btn btn-outline-secondary">Продать</button>
            </div>
        </div>
        {% empty %}
        <p>
            Нет фруктов
        </p>
        {% endfor %}
        <div class="col-md-5 border text-center" style="margin:1%; padding:1%">
            <h1 >Кошелек</h1>
            <label>Денег на счету:</label> <span id="wallet">0</span> usd
            <input type="text" class="form-control">
            <div class="col-md-12 text-center" style="margin-top:2%">
                <button class="btn btn-outline-secondary">Добавить</button>
                <button class="btn btn-outline-secondary">Снять</button>
            </div>
        </div>
        <div class="col-md-5 border" style="margin:1%; padding:1%">
            <textarea class="form-control" style="height:100%" readonly></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <textarea id="task-log" class="form-control" style="height:100%" readonly></textarea>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6 border text-center" style="margin:1%; padding:1%">
        <textarea id="chat-log" cols="20" rows="10" class="form-control" readonly></textarea>
        <input id="chat-message-input" type="text" size="100" class="form-control">
        <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary">
    </div>
</div>
<script>
    <!--    Работа чата -->

    var roomName = {{ room_name_json }}
    var chatSocket = new WebSocket('ws://' + window.location.host +'/ws/chat/'+ roomName + '/');
    var logSocket = new WebSocket('ws://' + window.location.host +'/ws/log/'+ roomName + '/');

   chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message+'\n');
    };

   logSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var log = data['log'];
        var fruit_id = data['fruit_id'];
        var count_fruit = data['count_fruit'];
        var wallet_money = data['wallet_money'];

        document.querySelector('#task-log').value += (log+'\n');
        document.getElementById('fruit-'+fruit_id).textContent = count_fruit;
        document.getElementById('wallet').textContent = wallet_money;

    };

    chatSocket.onclose = function(e) {
        console.error('Чат сокет закрыт');
    };

    logSocket.onclose = function(e) {
        console.error('Лог сокет закрыт');
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };


</script>
{% endblock %}